.background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.cont-principal{
    display: grid;
    grid-template-columns: 25% 75%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.side-bar{
    height: 100vh;
}

.cont-inicio{
    height: 100vh;
}

.registro-texto, .registro-enlace{
    display: inline;
    margin-right: 5px;
}